<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{/css/stylesheet.css}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

<h1>Registrierung</h1>

<form th.action="@{/register}" th:object="${user}" method="post">
  <label for="firstName">Vorname:</label><br>
  <input class="text-field" type="text" id="firstName" name="firstName" th:value="${user.firstName}"><br>
  <label for="lastName">Nachname:</label><br>
  <input class="text-field" type="text" id="lastName" name="lastName" th:value="${user.lastName}"><br>
  <label for="email">E-Mail:</label><br>
  <input class="text-field" type="email" id="email" name="email" th:value="${user.email}"><br>
  <label for="password">Passwort:</label><br>
  <input class="text-field" type="password" id="password" name="password" th:value="${user.password}"><br><br>
  <input class="btn" type="submit" value="Registrieren">
</form>


</body>
</html>

