

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Bookings</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
<h1>Bookings</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Is Full Day</th>
        <th>Accepted</th>
        <th>User</th>
        <th>Edit</th>
    </tr>
    </thead>

    <tr th:each="booking : ${bookings}">
        <td th:text="${booking.id}"></td>
        <td th:text="${booking.date}"></td>
        <td th:text="${booking.fullDay}"></td>
        <td th:text="${booking.accepted}"></td>
        <td>
            <span th:each="user : ${users}" th:if="${user.id} == ${booking.userId}" th:text="${user.email}"></span>
        </td>
        <td><a th:href="@{'http://localhost:8080/api/v1/bookings/edit/' + ${booking.id}}">Edit</a></td>
    </tr>

</table>
<form action="http://localhost:8080/api/v1/users/all">
    <input type="submit" class="btn" value="show users list" />
</form>
</body>
</html>