<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Booking</title>
</head>
<body>
<h1>Create Booking</h1>
<form th:action="@{/add}" th:object="${booking}" method="post">
    <div>
        <label>Date:</label>
        <input type="date" th:field="*{date}">
    </div>
    <div>
        <label>Is Full Day:</label>
        <input type="checkbox" th:field="*{fullDay}">
    </div>
    <div>
        <label>Accepted:</label>
        <input type="checkbox" th:field="*{accepted}">
    </div>
    <button type="submit">Add Booking</button>
</form>
</body>
</html>
