<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8">
  <title>User Login</title>
  <link rel="stylesheet" th:href="@{/css/stylesheet.css}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

<h1>Login</h1>

<form th:action="@{/api/v1/users/login}" method="post">
  <label for="email">E-Mail:</label><br>
  <input class="text-field" type="email" id="email" name="email"><br>
  <label for="password">Passwort:</label><br>
  <input class="text-field" type="password" id="password" name="password"><br><br>
  <input class="btn" type="submit" value="Anmelden">
</form>

</body>
</html>
